body{
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0;
    text-align: center;
}

ul.items {
    list-style: none;
}

.cross {
    width: 10px;
    height: 10px;
    background-color: blueviolet;
}